.title {
    text-align: center;
}
.restaurants {
    display: flex;
    flex-wrap: wrap;
}
.place img{
    width: 50%;
}
.place {
    width: 33%;
    text-align: center;
}
.placeModal {
    /* display: none; */
    background-color: red;
    position: fixed;
    top: 0%;
    left: 33%;
    display: none;
}
.placeModal img{
    width: 400px;
    height: 500px;
}
.close {
    position: absolute;
    top: 0;
    left: 0;
}